body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
}

.addForm {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    height: 40px;
}

.button-container {
    display: flex;
    gap: 10px; 
}

.addFormSubmit, .addFormSubmitDelete {
    padding: 10px 20px; 
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.addFormSubmitDelete {
    background-color: red;
}

.addFormSubmit:hover {
    background-color: #0056b3;
}

.addFormSubmitDelete:hover {
    background-color: #b80707;
}

p.error {
    color: red;
}